Repository pradyumnac/NewsLauncher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,json,css,md,html}": "prettier --write",
  "*.js": "eslint --fix"
}

feat: integrate Lighthouse CI into CI pipeline
  .lighthouseci/assertion-results.json
  .lighthouseci/lhr-1770309031943.html
  .lighthouseci/lhr-1770309031943.json
  .lighthouseci/lhr-1770309042971.html
  .lighthouseci/lhr-1770309042971.json
  .lighthouseci/lhr-1770309053665.html
  .lighthouseci/lhr-1770309053665.json
  .lighthouseci/links.json
  .prettierignore
  TODO.md
  cspell.json
  lighthouserc.js
  mise.toml
  package-lock.json
  package.json
  playwright-report/index.html
Due: prettier --write, eslint --fix

feat(bookmarks): implement folder system with dynamic keybindings
  TESTING.md
  TODO.md
  UseCases.md
  UserFlows.md
  index.html
  tests/e2e.spec.js
  tests/unit.spec.js
Due: prettier --write, eslint --fix

chore(gitignore): exclude test and CI artifacts from tracking
  .gitignore
  .lighthouseci/assertion-results.json
  .lighthouseci/lhr-1770309031943.html
  .lighthouseci/lhr-1770309031943.json
  .lighthouseci/lhr-1770309042971.html
  .lighthouseci/lhr-1770309042971.json
  .lighthouseci/lhr-1770309053665.html
  .lighthouseci/lhr-1770309053665.json
  .lighthouseci/links.json
  playwright-report/index.html
Due: prettier --write

feat(testing): implement Vitest + Playwright parallel testing setup
  TESTING.md
  package-lock.json
  package.json
  playwright.config.js
  src/bookmark-data.js
  src/bookmark-rendering.js
  src/bookmark-utils.js
  tests/e2e/e2e.spec.js
  tests/fixtures/bookmarks.js
  tests/unit/bookmark-data.test.js
  tests/unit/helpers.test.js
  tests/unit/rendering.test.js
  vitest.config.js
Due: prettier --write, eslint --fix

docs(todo): update testing status - 69 tests passing
  TODO.md
Due: prettier --write

chore(mise): add comprehensive testing tasks
  mise.toml
Due: none

docs: add CONTEXT.md and update documentation with cross-references
  CONTEXT.md
  README.md
  TESTING.md
  TODO.md
  tests/e2e.spec.js
Due: prettier --write, eslint --fix

fix(a11y): correct heading order for accessibility
  index.html
Due: prettier --write

fix(css): ensure consistent icon sizing for back button and folders
  index.html
Due: prettier --write

feat(ui): add horizontal scroll carousel for bookmarks
  index.html
Due: prettier --write

fix(css): match bookmark icon size with folder header icons
  index.html
  tests/e2e/e2e.spec.js
Due: prettier --write, eslint --fix

revert(css): restore icon sizes to 1em
  index.html
  tests/e2e/e2e.spec.js
Due: prettier --write, eslint --fix

feat(testing): add remote e2e test support
  mise.toml
  playwright.config.js
Due: prettier --write, eslint --fix

fix(ui): equalize back button and bookmark icon sizes
  index.html
  tests/e2e/e2e.spec.js
Due: prettier --write, eslint --fix

feat(ui): dynamic scroll arrows and folder grid layout
  index.html
  tests/e2e/scroll.spec.js
Due: prettier --write, eslint --fix

feat(layout): implement split dashboard and robust testing
  index.html
  tests/e2e/data-scenarios.spec.js
  tests/e2e/layout.spec.js
  tests/e2e/scroll.spec.js
Due: prettier --write, eslint --fix

style(theme): refine theme colors and add tooltips
  index.html
Due: prettier --write

docs(status): update TODO.md with new features and test stats
  TODO.md
Due: prettier --write

fix(ui): unify back button structure with bookmarks
  index.html
  tests/e2e/data-scenarios.spec.js
  tests/e2e/scroll.spec.js
Due: prettier --write, eslint --fix

ci: implement hierarchical timestamped test reporting
  mise.toml
  package-lock.json
  package.json
Due: prettier --write

ci: update QA tasks to log results and fix linting config
  .eslintrc.json
  mise.toml
Due: prettier --write

docs: update documentation with new features and testing workflows
  CONTEXT.md
  README.md
  TESTING.md
Due: prettier --write

chore: remove redundant CONTEXT.MD file
  CONTEXT.MD
Due: none
